
.Container{

height:200px;
width:350px;

}


.sBarTop{
    background-color: rgb(30, 105, 196);
    width: 350px;
    height: 100px;
}

h1{
    color: white;

}

.topNews1{
    background-color: rgb(244, 247, 250);
    width:350px;
    height:70px;
    border: 1px solid rgb(133, 128, 128);

}

.viewAll{

    background-color: rgb(244, 247, 250);
    width:350px;
    height:100px;
    display: flex;
    justify-content: center;
}

#viewAllcentre{
     
     height: 35px;
     width:300px ;
     background-color: rgb(30, 105, 196);
     color:white;
     border-radius: 5%;
     


}


.sideBarBase{

    background-color: rgb(244, 247, 250);
    width:330px;
    height:50px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;

}


#technews{
    display: flex;
    flex-direction: row;
}


#nottheonion{
   display: flex;
   flex-direction: row;
}

#uplift{
    display: flex;
   flex-direction: row;
}

#saveClick{
    display: flex;
   flex-direction: row;
}

#offBeat{
    display: flex;
   flex-direction: row;
}

#sbimage1{
    border-radius: 50%;
    width: 20px;
    height: 20px;   
}

.baseButtons{
    color: blue;
}
